<html lang="en">
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age In Months</title>
</head>
<body>
    <h1>Your Age in Months</h1>
    <h2>Is your age a prime number?</h2>
    <form method="post" action='{{url_for("date")}}'>
        <p>Birth Year:</p>
       <p><input type="text" name="date" /></p>
        <p><input type="submit" value="submit" /></p>
    </form>
</body>
</html>
    